*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Overpass', serif;
  font-weight: 400 600 700;
  line-height: 1.5;
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
  font-size: 10px;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-color: var(--Light-pink);
}

.main-component {
  background-color: var(--White);
  max-width: 100%;
  min-height: 400px;
  width: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
}

.header-component {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.header-component .header-title {
  font-size: 3.5rem;
  margin-left: 2.2rem;
}