*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Overpass', serif;
  font-weight: 400 600 700;
  line-height: 1.5;
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
  font-size: 10px;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  background-color: var(--Light-pink);
}

.main-component {
  background-color: var(--White);
  max-width: 100%;
  min-height: 400px;
  width: 300px;
  margin-top: 5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
}

.header-component {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .9rem;
}

.header-component .header-title {
  font-size: 3.5rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.faq-section {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 1rem;
  max-width: 100%;
}

.faq-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.2rem;
  max-width: 100%;
}

.question-container {
  display: flex;
  align-items: center;
  max-width: 100%;
  gap: 2rem;
}

.question {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.3;
  width: 100%;
}

.open-icon {
  margin-left: 2rem;
}

button {
  background-color: transparent;
  border: none;
  width: 20%;
  max-width: 40%;
  cursor: pointer;
}

.answer-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-width: 100%;
  text-align: left;
}

.answer-container.open {
  max-height: 500px;
  transition: max-height 0.3s ease-in-out;
}

.answer {
  font-size: 1.3rem;
  color: var(--Grayish-purple);
  max-width: 100%;
  width: 90%;
  margin-top: 1.2rem;
}

.divider {
  width: 250px;
  height: .1rem;
  background-color: var(--Light-pink);
  margin: 0 auto;
  margin-top: 1em;
}

@media (min-width: 780px) {
  body {
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-size: 100%;
    padding: 2rem;
  }

  .main-component {
    width: 650px;
    margin-top: 8.6rem;
  }

  .question-container {
    justify-content: space-between;
  }

  .divider {
    width: 500px;
  }

  .faq-item {
    padding: 1.4rem;
  }

  .answer {
    font-size: 1.6rem;
  }

  .question {
    font-size: 2rem;
  }

  .question:hover {
    cursor: pointer;
    color: rgb(173, 15, 173);
  }

  .header-component {
    margin-left: 2.4rem;
  }
}